@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&display=swap");

body {
  font-family: "Lato", sans-serif; /* Default font */
}

.homepage {
  text-align: center;
}
.homepage p {
  font-size: 30px;
  align-items: center;
  justify-content: center;
  color: rgb(128, 124, 124);
  width: 100%;
  position: relative;
}
.homepage img {
  max-width: 1750px;
}
.p-text {
  text-align: center;
  padding: 30px 30px;
}
.learn-button {
  height: 80px;
  width: 250px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .banner {
    flex-direction: column; /* Stack the image and content vertically on smaller screens */
    text-align: center;
  }
  .banner {
    text-align: left;
    padding: 70px 50px;
  }
  .banner img {
    width: 900px;
  }
}
.banner {
  text-align: left;
  padding: 70px 50px;
}
.banner img {
  width: 800px;
  position: absolute;
}

.content {
  text-align: left;
  margin-left: auto;
  width: 100vh;
  position: relative;
  margin-top: 30px;
}
.content p {
  font-size: 35px;
}
.content h1 {
  font-size: 65px;
  width: 80vh;
}
.banner2 {
  margin-top: 40px;
  display: grid;
  justify-content: center;
}
.text-part {
  margin-top: 20vh;
  position: absolute;
}
.text-part .buy {
  font-size: 50px;
  font-weight: 800;
  line-height: 10px;
}
.text-part .lighter {
  max-width: 22%;
  font-size: 22px;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  padding: 10px;
  color: rgb(141, 137, 137);
}
.text-part p {
  font-size: 23px;
  max-width: 30%;
  color: rgb(59, 59, 59);
  font-family: "Outfit", sans-serif;

  font-weight: 200;
  padding: 15px;
}
.banner2 img {
  position: relative;
  height: 650px;
  width: 800px;
  padding: 30px 10px 0px 80px;
  filter: drop-shadow(10px 10px 15px rgba(108, 106, 106, 0.5));
}
.right-part {
  text-align: center;
  width: 100%;
  height: 50px;
}
.right-part img {
  height: 250px;
  width: 240px;
  position: relative;
  display: grid;
  margin-left: auto;
  top: -70vh;
  margin-right: 17vh;
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));
}
.right-part p {
  height: 250px;
  width: 240px;
  position: relative;
  display: grid;
  margin-left: auto;
  top: -85vh;
  margin-right: 17vh;
  font-size: 25px;
}
.thirdpartp {
  text-align: left;
  position: relative;
  margin-top: -8%;
}

.packet {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 22vh;
}

.packets {
  display: flex;
  gap: 30vh;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: #0d2900;
  height: 34vh;
}

.packets img {
  position: relative;
  display: block;
  border-radius: 8px;
  margin-bottom: 35vh;
  max-height: 350px;
  width: 250px;
}
.coffee-name {
  margin-top: 10px;
  font-size: 16px; /* Adjust font size */
  font-weight: bold;
  color: #333; /* Adjust text color */
  display: flex;
  position: relative;
  left: -207.5vh;
  gap: 40vh;
  margin-top: 8vh;
}
.coffee-name p {
  font-size: 25px;
  font-weight: 200;
}
.coffee-below {
  display: flex; /* Ensures content inside aligns properly */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  padding: 20px; /* Adds spacing around the container */
  background-color: #f5f5f5; /* Light background for visibility */
}

.equipment {
  max-width: 100%;
  height: auto;
  text-align: center;
  margin-top: -75vh;
}

.equipment img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 40vh;
  height: 550px;
  width: 800px;
  margin-left: 10vh;
}
.equipment-right {
  align-items: left;
  align-content: center;
  display: grid;
  margin-top: 30vh;
}
.equipment-right p {
  margin-left: -70px;
}
.equipment-right .barista-training {
  align-items: left;
  align-content: left;
  justify-content: left;
}
.barista-training {
  position: relative;
  left: -90vh;
  text-align: left;
  margin-top: 15vh;
}
.barista-training p {
  font-size: 25px;
  font-family: sans-serif;
  padding: 0px 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 90vh;
}
.training_workshop {
  position: relative;
  margin-left: auto;
  margin-right: 20px;
  width: 800px;
  text-align: left;
  padding: 20px;
  margin-bottom: auto;
  top: -60vh;
}

.training_workshop h1 {
  font-size: 9vh;
  font-weight: 700;
  color: rgb(82, 80, 80);
  line-height: 5px;
}
.training_workshop p {
  font-size: 30px;
  line-height: 1.6;
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: normal;
  color: rgb(70, 69, 69);
}
.location-container {
  position: absolute;
  background: white;
  justify-content: center;
  width: 100%;
  padding: 10vh 10vh 0vh 10vh;
}
.locations {
  position: relative;
  display: flex;
  flex-direction: row;
}
.slider-image-container {
  display: flex;
  justify-content: center;
  margin: 0 10px;
}
.slider-image-container p {
  color: black;
  font-size: x-large;
  font-weight: 600;
}

.slider-image {
  width: 100%;
  height: 33vh;
}
.slick-dots li button {
  position: relative;
  top: -12vh;
}
.location-name {
  position: relative;
  display: flex;
  flex-direction: row;
}
.slick-track{
  height: 30vh;
}
