.marquee {
  background-color: rgb(215, 212, 212);
  overflow: hidden;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.marquee span {
  display: inline-block;
  animation: marquee 15s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
